ECRET_KEY=hospital_secret_key_2024
DATABASE_URL=postgresql://neondb_owner:YOUR_NEW_PASSWORD@ep-nameless-surf-a1smlgfq-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require